h1 {
  color:#cc1001;
  font-family: 'Permanent Marker', cursive;
  font-size: 100;
  text-align: center;
}
h2 {
  color:#eeeeee;
  font-family: 'Permanent Marker', cursive;
  font-size:35;
  text-align: center;
}
p  {
  color:#cc1001;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:20;
  text-align: center;
}
table {
  color:#eeeeee;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 50;
  text-align: center;
  border-color: #eeeeee;
  border-style: solid;
  width: 100%;
}
td {
  width: 33%;
  border-style: dotted;
  border-color: #cc1001;
}

button1x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button2x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button3x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button4x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button5x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button6x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button7x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button8x {
  color:#8A2BE2	;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button9x {
  color:#8A2BE2;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}


button1o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button2o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button3o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button4o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button5o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button6o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button7o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button8o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
button9o {
  color:#00FA9A;
  font-family: 'Satisfy', cursive;
  font-size:20;
  text-align: left;
}
